<p>
    <% let sub = data[subname].sub; %>
    <h1> <%- data[subname].desc %> </h1>
    <div id="<%= subname %>">
        <% for(let element in sub) {%>
            <p>
                <div id="<%= element %>">

                    <h3> <%- Array.isArray(sub[element].desc) ? sub[element].desc[0] : sub[element].desc %> </h3>
                    <% if(sub[element].list != null) { %> 
                        <ol>
                            <% for(let l of sub[element].list) { %> 
                                <li> <%= l %> </li>
                            <% } %>
                        </ol>
                    <% } else if(sub[element].checkbox != null) { %>
                        <% for(let c in sub[element].checkbox) { %> 
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                  <input name="<%= c %>" class="form-check-input mt-0" type="checkbox" value="true" aria-label="Checkbox for following text">
                                </div>
                                <%= sub[element].checkbox[c].desc %>
                            </div>
                        <% } %>
                    <% } %>

                    <% if(sub[element].sub != null) { %>
                        <% for(let e in sub[element].sub) { %> 
                            <div class="row g-3 align-items-center custom-sub-form">
                                <div class="col-auto">

                            <% if(sub[element].sub[e].type == "subheader") { %> 
                                <h5> <%= sub[element].sub[e].desc %> </h5>
                                <% for(let ee in sub[element].sub[e].sub) { %> 
                                    <% if(sub[element].sub[e].sub[ee].type == "file") { %> 
                                        <%- sub[element].sub[e].sub[ee].desc[0] %> <br>
                                        <% if(sub[element].sub[e].sub[ee].list != null) { %> 
                                            <ul>
                                            <% for(let l of sub[element].sub[e].sub[ee].list) { %> 
                                                <li> <%= l %> </li>
                                            <% } %>
                                            </ul>
                                        <% } else if(sub[element].sub[e].sub[ee].checkbox != null) { %>
                                            <% for(let c in sub[element].sub[e].sub[ee].checkbox) { %> 
                                                <div class="input-group mb-3">
                                                    <div class="input-group-text">
                                                        <input name="<%= c %>" class="form-check-input mt-0" type="checkbox" value="true" aria-label="Checkbox for following text">
                                                    </div>
                                                    <%= sub[element].sub[e].sub[ee].checkbox[c].desc %>
                                                </div>
                                            <% } %>
                                        <% } %>
                                        <label for="<%= ee %>" class="form-label"><b><%- sub[element].sub[e].sub[ee].desc[1] %></b> </label>
                                        <input class="form-control" type="file" name="<%= ee %>" multiple>
                                        <br>
                                    <% } %>

                                <% } %>
                            <% } %>
                            
                            <% if(sub[element].sub[e].type == "text") { %> 
                                <label for="<%= e %>" class="col-form-label"><%- sub[element].sub[e].desc[0] %></label>
                                </div>
                                <div class="col-auto">
                                <input type="number" name="<%= e %>" class="form-control">
                                </div>
                                <div class="col-auto">
                                <span class="form-text">
                                    <%- sub[element].sub[e].desc[1] %> 
                                </span>
                            <% } %>
                            <% if(sub[element].sub[e].type == "file") { %> 
                                <%- sub[element].sub[e].desc[0] %> <br>
                                <% if(sub[element].sub[e].list != null) { %> 
                                    <ul>
                                    <% for(let l of sub[element].sub[e].list) { %> 
                                        <li> <%= l %> </li>
                                    <% } %>
                                    </ul>
                                <% } else if(sub[element].checkbox != null) { %>
                                    <% for(let c in sub[element].sub[e].checkbox) { %> 
                                        <div class="input-group mb-3">
                                            <div class="input-group-text">
                                            <input name="<%= c %>" class="form-check-input mt-0" type="checkbox" value="true" aria-label="Checkbox for following text">
                                            </div>
                                            <%= sub[element].sub[e].checkbox[c].desc %>
                                        </div>
                                    <% } %>
                                <% } %>
                                <label for="<%= e %>" class="form-label"><b><%- sub[element].sub[e].desc[1] %></b> </label>
                                <input class="form-control" type="file" name="<%= e %>" multiple>
                                <br>
                            <% } %>
                                </div>
                            </div>
                        <% } %>

                    <% } %>
                    <% if(sub[element].type == "file") { %> 
                        <div class="row g-3 align-items-center custom-sub-form">
                            <div class="col-auto">
                                <label for="<%= element %>" class="form-label"><b><%- sub[element].desc[1] %></b> </label>
                                <input class="form-control" type="file" name="<%= element %>" multiple>
                                <br>
                            </div>
                        </div>
                    <% } %>
                    <% if(sub[element].type == "text") { %> 
                        <div class="row g-3 align-items-center custom-sub-form">
                            <div class="col-auto">
                            <label for="<%= element %>" class="col-form-label"><%- sub[element].desc[1] %></label>
                            </div>
                            <div class="col-auto">
                            <input type="number" name="<%= element %>" class="form-control">
                            </div>
                            <div class="col-auto">
                            <span class="form-text">
                                <%- sub[element].desc[2] %>
                            </span>
                            </div>
                        </div>
                    <% } %>

                </div>
            </p>

        <% } %>
    </div>
</p>