<div class="container-fluid">
    <div class="row flex-nowrap" style="margin-right:400px;">
        <div id="sidenav" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="min-height: calc(100vh - 100px); top: 0; left: 0; bottom: 0; background-color: rgba(146, 135, 135, 0.308); width: 350px; margin-right: 20px;">
            <div id="sidebar" class="overflow-auto sticky-top sticky-offset d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="height:calc(100vh - 120px); position: fixed; margin-top: 50px; transform: translateX(1);">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline" style="color: rgba(11, 83, 11); font-size: 30px;">เลือกเมนู</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="<%= rootpath %>" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline side-bar" style="color: black;">หน้าหลัก</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="<%= rootpath %>userform" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline side-bar" style="color: black;">กรอกฟอร์ม</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="<%= rootpath %>userresult" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline side-bar" style="color: black;">ผลการประเมิน</span>
                        </a>
                    </li>
                
                    
                </ul>

                <div class="dropdown pb-4" style="position: fixed; margin-top: calc(100vh - 160px)">
                    <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="<%= profilepic %>" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1"><%= name %></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="<%= rootpath %>loginform">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <% if(result == null) { %>  
            <% if(submit) { %> 
                <div class="col py-3">
                    <div class="alert alert-success">
                        <strong>สำเร็จ!</strong> Form ของคุณถูก Submit เรียบร้อยแล้ว กรุณารอ Admin ตรวจสอบ
                    </div>
                    
                    <form action="<%= rootpath %>resubmit" enctype="multipart/form-data" method="post">

                        <input type="submit" value="ส่งฟอร์มใหม่" class="btn btn-primary"/>
                    </form>
                </div>
            <% } else { %>
                <form action="<%= rootpath %>submit" enctype="multipart/form-data" method="post">
                    <div class="col py-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <% for (let i = 1; i <= 10; i++) { %>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link <%= (i==1)? "active": "" %>" id="i<%= String(i) %>-tab" data-bs-toggle="tab" data-bs-target="#i<%= String(i) %>-tab-pane" type="button" role="tab" aria-controls="i<%= String(i) %>-tab-pane" aria-selected="true" <%= (i>6) ? "disabled": "" %>>หมวดที่ <%= String(i) %></button>
                                </li>
                            <% } %>
                            
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <% for (let i = 1; i <= 10; i++) { %>
                                <div class="tab-pane fade <%= (i==1)? "show active": "" %>" id="i<%= String(i) %>-tab-pane" role="tabpanel" aria-labelledby="i<%= String(i) %>-tab" tabindex="0"><%- include('./form', {subname: "index"+String(i)}); %></div>
                            <% } %>
                            
                        </div>
                    </div>

                    <input type="submit" value="ส่งฟอร์ม" class="btn btn-primary"/>
                </form>
            <% } %>
        <% } else if(result == "noresult") { %> 
            <div class="col py-3">
                <div class="alert alert-danger">
                    <strong>คำเตือน!</strong> ฟอร์มยังไม่ได้รับการตรวจจาก Admin
                </div>
            </div>
            
        <% } else { %>
            <div class="tab-content" id="myTabContent">
                <% for (let i = 1; i <= 10; i++) { %>
                    <%- include('./resultform', {subname: "index"+String(i)}); %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>

