<% let content = ["ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ คณะการจัดการสิ่งแวดล้อม มอ. จัดกิจกรรม Coaching ให้กับโรงแรมในจังหวัดกระบี่ เพื่อขอมาตรฐานการจัดการโรงแรมที่ได้มาตรฐานสิ่งแวดล้อม (Green Hotel) ณ โรงแรม ดีวาน่า พลาซ่า อ่าวนาง จังหวัดกระบี่ ระหว่างวันที่ 28 กุมภาพันธ์ - 1 มีนาคม 2565 ได้รับการสนับสนุนงบประมาณจาก สำนักงานการท่องเที่ยวและกีฬา (ทกจ.) กระบี่", "ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ คณะการจัดการสิ่งแวดล้อม มอ. จัดกิจกรรมศึกษาดูงานให้กับผู้แทนโรงแรมที่เข้ารับการ Coaching การจัดการโรงแรมที่ได้มาตรฐานสิ่งแวดล้อมที่โรงแรมดุสิต ธานี กระบี่ บีช รีสอร์ต เมื่อวันที่ 2 มีนาคม 2565 กิจกรรมดังกล่าวได้รับการสนับสนุนจากสำนักงานการท่องเที่ยวและกีฬา (ทกจ.) จังหวัดกระบี่", "ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ คณะการจัดการสิ่งแวดล้อม มอ. จัดงาน CBT Andaman Travel Mart 2022 กิจกรรม Table Top Sale ขึ้นที่โรงแรมดุสิต ธานี กระบี่ บีช รีสอร์ต เมื่อวันที่ 26 กรกฎาคม 2565  โดยเชิญโรงแรมที่ผ่านการอบรมหลักสูตรการจัดการโรงแรมที่ได้มาตรฐานสิ่งแวดล้อมมาเป็นผู้ซื้อ (Buyer) และตัวแทนจากการท่องเที่ยวโดยชุมชนในอันดามันเป็นผู้ขาย (Seller)", "ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ คณะการจัดการสิ่งแวดล้อม มอ. จัดอบรมหลักสูตรการจัดการโรงแรมที่ได้มาตรฐานสิ่งแวดล้อม แก่ผู้ประกอบการธุรกิจโรงแรมที่พักบนเกาะลันตา จังหวัดกระบี่ ระหว่างวันที่ 23-24 สิงหาคม 2565 โครงการดังกล่าวได้รับการสนับสนุนงบประมาณจากสภาการศึกษาจังหวัดกระบี่", "ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ คณะการจัดการสิ่งแวดล้อม มอ. จัดอบรมหลักสูตรการจัดการโรงแรมที่ได้มาตรฐานสิ่งแวดล้อม แก่ผู้ประกอบการธุรกิจโรงแรมที่พักจังหวัดกระบี่ ระหว่างวันที่ 27-28 ตุลาคม 2565 ณ ปกาสัย รีสอร์ต อ่าวนาง  โครงการดังกล่าวได้รับการสนับสนุนงบประมาณจากสภาการศึกษาจังหวัดกระบี่", "ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ คณะการจัดการสิ่งแวดล้อม มอ. เชิญผู้ประกอบการโรงแรม 4-5 ดาว บนเกาะลันตา จังหวัดกระบี่ สำรวจกิจกรรมท่องเที่ยวชุมชนชาวเลโต๊ะบะหลิว เกาะลันตา จังหวัดกระบี่ เพื่อสำรวจความพร้อมของชุมชนในการส่งนักท่องเที่ยวมาท่องเที่ยวในชุมชนและทำกิจกรรมท่องเที่ยวร่วมกัน การสร้างความร่วมมือกับชุมชนเป็นส่วนหนึ่งของการจัดการโรงแรมที่ได้มาตรฐานสิ่งแวดล้อม"]; %>
<% let header = ["Coaching โรงแรมดีวาน่า พลาซ่า", "Coaching โรงแรมดุสิตธานี", "งาน CBT Andaman Travel Mart 2022 กิจกรรม Table Top Sale", "อบรมที่เกาะลันตา", "อบรมที่ปกาลัยรีสอร์ต", "กิจกรรมท่องเที่ยวชุมชนชาวเลโต๊ะบะหลิว"]; %>

<% let edate = ["28 กุมภาพันธ์ - 1 มีนาคม 2565", "2 มีนาคม 2565", "26 กรกฎาคม 2565", "23-24 สิงหาคม 2565", "27-28 ตุลาคม 2565", ""]; %>

<% for(let i=0; i<content.length; i++) { %> 
    <div class="card mb-3">
        <img src="/img/event<%= i+1 %>.png" class="card-img-top" alt="event-<%= i+1 %>">
        <div class="card-body">
        <h5 class="card-title"><%= header[i] %></h5>
        <p class="card-text"> <%= content[i] %> </p>
        <p class="card-text"><small class="text-muted"> <%= edate[i] %> </small></p>
        </div>
    </div>
<% } %>