<% let totalImages = training.length + workshop.length + coaching.length + fieldtrip.length + certificate.length + openning.length; %>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% for(let i=0; i<totalImages; i++) { %> 
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="<%= i %>" <%- (i==0) ? "class='active' aria-current='true'":"" %> aria-label="Slide <%= i+1 %>"></button>
      <% } %>
      </div>


    <div class="carousel-inner">
    <% for(let i=0; i<training.length; i++) { %>
      <div class="carousel-item<%= (i==0)?" active": "" %>">
        <img src="<%= rootpath %>img/training/<%= training[i] %>" class="d-block w-100" style="height: 30vw; object-fit: cover">
        <div class="carousel-caption d-none d-md-block">
            <h5>อบรม</h5>
            <p>รูปภาพกิจกรรมอบรม Green Hotel</p>
          </div>
      </div>
    <% } %>

    <% for(let i=0; i<workshop.length; i++) { %>
      <div class="carousel-item">
        <img src="<%= rootpath %>img/workshop/<%= workshop[i] %>" class="d-block w-100" style="height: 30vw; object-fit: cover">
        <div class="carousel-caption d-none d-md-block">
            <h5>Workshop</h5>
            <p>รูปภาพกิจกรรมWorkshop Green Hotel</p>
          </div>
      </div>
    <% } %>

    <% for(let i=0; i<coaching.length; i++) { %>
      <div class="carousel-item">
        <img src="<%= rootpath %>img/coaching/<%= coaching[i] %>" class="d-block w-100" style="height: 30vw; object-fit: cover">
        <div class="carousel-caption d-none d-md-block">
            <h5>Coaching</h5>
            <p>รูปภาพกิจกรรมCoaching Green Hotel</p>
          </div>
      </div>
    <% } %>

    <% for(let i=0; i<fieldtrip.length; i++) { %>
      <div class="carousel-item">
        <img src="<%= rootpath %>img/fieldtrip/<%= fieldtrip[i] %>" class="d-block w-100" style="height: 30vw; object-fit: cover">
        <div class="carousel-caption d-none d-md-block">
            <h5>ดูงาน</h5>
            <p>รูปภาพกิจกรรมดูงาน Green Hotel</p>
          </div>
      </div>
    <% } %>

    <% for(let i=0; i<certificate.length; i++) { %>
      <div class="carousel-item">
        <img src="<%= rootpath %>img/certificate/<%= certificate[i] %>" class="d-block w-100" style="height: 30vw; object-fit: cover">
        <div class="carousel-caption d-none d-md-block">
            <h5>รับวุฒิบัตร</h5>
            <p>รูปภาพกิจกรรมรับวุฒิบัตร Green Hotel</p>
          </div>
      </div>
    <% } %>

    <% for(let i=0; i<openning.length; i++) { %>
      <div class="carousel-item">
        <img src="<%= rootpath %>img/openning/<%= openning[i] %>" class="d-block w-100" style="height: 30vw; object-fit: cover">
        <div class="carousel-caption d-none d-md-block">
            <h5>เปิดงาน</h5>
            <p>รูปภาพกิจกรรมเปิดงาน Green Hotel</p>
          </div>
      </div>
    <% } %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>