<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Coaching</h1>
    <p class="fs-5 text-muted"> ข้อความเกี่ยวกับการโคช </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% for (let i = 0; i < coaching.length; i++) { %>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>รูป</title><rect width="100%" height="100%" fill="#55595c"/><figure class="figure"><img src="<%= rootpath %>img/coaching/<%= coaching[i] %>" class="figure-img img-fluid rounded"></figure></svg>
                <div class="card-body">
                <p class="card-text">Description รูป</p>
                
                </div>
            </div>
        </div>
    <% } %>

    
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">ดูงาน</h1>
    <p class="fs-5 text-muted"> ข้อความเกี่ยวกับการดูงาน </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% for (let i = 0; i < fieldtrip.length; i++) { %>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>รูป</title><rect width="100%" height="100%" fill="#55595c"/><figure class="figure"><img src="<%= rootpath %>img/fieldtrip/<%= fieldtrip[i] %>" class="figure-img img-fluid rounded"></figure></svg>
                <div class="card-body">
                <p class="card-text">Description รูป</p>
                
                </div>
            </div>
        </div>
    <% } %>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">เปิดงาน</h1>
    <p class="fs-5 text-muted"> ข้อความเกี่ยวกับการเปิดงาน </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% for (let i = 0; i < openning.length; i++) { %>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>รูป</title><rect width="100%" height="100%" fill="#55595c"/><figure class="figure"><img src="<%= rootpath %>img/openning/<%= openning[i] %>" class="figure-img img-fluid rounded"></figure></svg>
                <div class="card-body">
                <p class="card-text">Description รูป</p>
                
                </div>
            </div>
        </div>
    <% } %>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">อบรม</h1>
    <p class="fs-5 text-muted"> ข้อความเกี่ยวกับการอบรม </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% for (let i = 0; i < fieldtrip.length; i++) { %>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>รูป</title><rect width="100%" height="100%" fill="#55595c"/><figure class="figure"><img src="<%= rootpath %>img/training/<%= training[i] %>" class="figure-img img-fluid rounded"></figure></svg>
                <div class="card-body">
                <p class="card-text">Description รูป</p>
                
                </div>
            </div>
        </div>
    <% } %>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Workshop</h1>
    <p class="fs-5 text-muted"> ข้อความเกี่ยวกับ Workshop </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% for (let i = 0; i < fieldtrip.length; i++) { %>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>รูป</title><rect width="100%" height="100%" fill="#55595c"/><figure class="figure"><img src="<%= rootpath %>img/workshop/<%= workshop[i] %>" class="figure-img img-fluid rounded"></figure></svg>
                <div class="card-body">
                <p class="card-text">Description รูป</p>
                
                </div>
            </div>
        </div>
    <% } %>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">รับวุฒิบัตร</h1>
    <p class="fs-5 text-muted"> ข้อความเกี่ยวกับการรับวุฒิบัตร </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% for (let i = 0; i < fieldtrip.length; i++) { %>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>รูป</title><rect width="100%" height="100%" fill="#55595c"/><figure class="figure"><img src="<%= rootpath %>img/certificate/<%= certificate[i] %>" class="figure-img img-fluid rounded"></figure></svg>
                <div class="card-body">
                <p class="card-text">Description รูป</p>
                
                </div>
            </div>
        </div>
    <% } %>
</div>