<% ch = ["ผลกระทบต่อสิ่งแวดล้อมของโรงแรม", "โรงแรมที่เป็นมิตรต่อสิ่งแวดล้อม (Green Hotel)", "การจัดการสิ่งแวดล้อมในโรงแรม", "สินค้าที่เป็นมิตรต่อสิ่งแวดล้อม", "ผลิตภัณฑ์ที่เป็นมิตรต่อสิ่งแวดล้อม"]; %>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal"> องค์ความรู้เกี่ยวกับ Green Hotel </h1>
    <p class="fs-5 text-muted"> Learning About Green Hotel </p>
</div>


<div class="accordion" id="knowledge">
    <% for(let i=0; i<5; i++) { %> 
        <div class="accordion-item">
            <h2 class="accordion-header" id="ch-<%= String(i) %>">
                <button class="accordion-button <%= (i>0)?"collapsed":"" %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= String(i) %>" aria-expanded=<%= (true)?"true":"false" %> aria-controls="collapse-<%= String(i) %>">
                <h2>ตอนที่ <%= String(i+1) %>: <%= ch[i] %> </h2>
                </button>
            </h2>
            <div id="collapse-<%= String(i) %>" class="accordion-collapse collapse<%= (i==0)? " show":"" %>" aria-labelledby="ch-<%= String(i) %>" data-bs-parent="#knowledge">
                <div class="accordion-body">
                    <%- include('./chapters/ch' + String(i+1)) %>
                </div>
            </div>
        </div>
    <% } %>
</div>
   
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal"> กิจกรรมของศูนย์ </h1>
    <p class="fs-5 text-muted"> Activities </p>

    <%- include('./activity.ejs') %>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal"> ติดต่อเรา </h1>
    <p class="fs-5 text-muted"> Contact Us </p>
    ศูนย์การจัดการนวัตกรรมการท่องเที่ยวเชิงนิเวศ​ คณะการจัดการสิ่งแวดล้อม มหาวิทยาลัยสงขลานครินทร์ <br>
    15 ถ.กาญจนวนิช ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110 <br>
    โทรศัพท์ 081 9398195 <br>
    Email: prachyakorn.c@psu.ac.th
</div>