<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <style>
            hr { 
                background: url('<%= rootpath %>img/greenhotel.jpg') no-repeat top center;
                background-size: contain;
                display: block;
                height: 180px;
                border: 0;
                position: relative;
                opacity: 100%;
            }
            hr:before,
            hr:after {
                border-top: 7px double #2d8200;
                content: '';
                display: block;
                position: absolute;
                /* background: #d0d0ba; */
                height: 2px;
                top: 90px;
            }
            hr:before {
                left: 0;
                right: 52%;
                margin-right: 10px;
                margin-left: 10%;
            }
            hr:after {
                right: 0;       
                left: 52%;
                margin-left: 10px;
                margin-right: 10%;
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar'); %>
        <%- include('../partials/banner', {
            coaching: coaching,
            workshop: workshop,
            fieldtrip: fieldtrip,
            openning: openning,
            certificate: certificate,
            training: training,
            rootpath: rootpath
        }); %>
 
        <div class="container ps-auto pe-auto">
            <%- include('../partials/home', {
                coaching: coaching,
                workshop: workshop,
                fieldtrip: fieldtrip,
                openning: openning,
                certificate: certificate,
                training: training,
                rootpath: rootpath
            }); %>
        </div>

    </body>
</html>