<p>
    &emsp;ผลิตภัณฑ์หรือบริการที่เป็นมิตรต่อสิ่งแวดล้อม จะต้องได้รับการตรวจสอบประเมินผลกระทบที่เกิดจากกระบวนการผลิตอย่างละเอียดจากผู้ชำนาญการด้านสิ่งแวดล้อมตามเกณฑ์หรือข้อกำหนดของผลิตภัณฑ์ หรือบริการแต่ละประเภท จึงจะได้รับ “ฉลาก” หรือ “ตราสัญลักษณ์” ซึ่งแสดงว่าสินค้าหรือบริการจะจัดอยู่ในกลุ่มผลิตภัณฑ์สีเขียวที่เป็นมิตรต่อสิ่งแวดล้อม โดยผู้ผลิตสามารถสื่อสารกับผู้บริโภค การรับรู้ประสิทธิภาพของผู้บริโภค การใส่ใจต่อสิ่งแวดล้อม <code>(Heo & Muralidharan, 2019)</code> กว่าจะได้ซึ่งสินค้าหรือผลิตภัณฑ์นั้นๆ ต้องคำนึงถึงผลกระทบต่อสิ่งแวดล้อมน้อยที่สุด หากเปรียบเทียบสินค้าตามท้องตลาดในประเภทเดียวกัน เช่น ผลิตภัณฑ์กระดาษทิชชูที่เป็นมิตรต่อสิ่งแวดล้อม ผงซักฟอกที่ย่อยสลายและหลอดไฟประหยัดพลังงาน <code>(Barbarossa & De Pelsmacker, 2016)</code> ดังตารางที่ 1
</p>
<div class="text-center">
    <table class="table table-bordered">
        <caption style="text-align:center">
            ตารางที่ 1 ฉลากรับรองสินค้าและบริการที่เป็นมิตรต่อสิ่งแวดล้อม <br>
            <code>(ที่มา: ศูนย์ปฏิบัติการวิเคราะห์มลพิษและสิ่งแวดล้อม กรมควบคุมมลพิษ,2565)</code>
        </caption>
        <tr>
            <td>ชนิด</td>
            <td>ฉลาก</td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์ฉลากเขียว (Green label)</b> <br>
                เป็นสัญลักษณ์สำหรับสินค้าที่มีองค์ประกอบ กระบวนการผลิต การใช้ ตลอดจนการทิ้งทำลายที่มีผลกระทบต่อสิ่งแวดล้อมน้อย</td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-1.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์ฉลากเขียว">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์ฉลากประหยัดไฟเบอร์ 5</b> <br>
                เป็นสัญลักษณ์ที่บ่งบอกระดับการใช้ไฟฟ้าและข้อมูลเบื้องต้นของเครื่องใช้ไฟฟ้าต่างๆ</td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-2.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์ฉลากประหยัดไฟเบอร์ 5">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สินค้าที่มีสัญลักษณ์ผลิตมาจากวัสดุแปรรูปใช้ใหม่</b></td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-3.png' %>" class="figure-img img-fluid rounded" alt="สินค้าที่มีสัญลักษณ์ผลิตมาจากวัสดุแปรรูปใช้ใหม่">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์สินค้าไม้หรือผลิตภัณฑ์ที่ใช้ไม้จากป่าที่มีการจัดการอย่างถูกต้อง</b> </td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-4.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์สินค้าไม้หรือผลิตภัณฑ์ที่ใช้ไม้จากป่าที่มีการจัดการอย่างถูกต้อง">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์ฉลากลดคาร์บอน</b> <br></td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-5.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์ฉลากลดคาร์บอน">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์ G (Green Production)</b> </td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-6.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์ G (Green Production)">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์ผลิตภัณฑ์เกษตรอินทรีย์</b> <br>
                สินค้าที่ผลิตมาจากกระบวนการผลิตปลอดสารเคมี
            </td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-7.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์ผลิตภัณฑ์เกษตรอินทรีย์">
                        
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>สัญลักษณ์ฉลากใบไม้เขียว (Green Leaf)</b> <br>
                สำหรับบริการโรงแรม
            </td>
            <td>
                <div class="text-center">
                    <figure class="figure">
                        <img src="<%= rootpath+'img/chapters/ch5-8.png' %>" class="figure-img img-fluid rounded" alt="สัญลักษณ์ฉลากใบไม้เขียว (Green Leaf)">
                        
                    </figure>
                </div>
            </td>
        </tr>
    </table>
</div>

<p>
    <h3><strong>ความรับผิดชอบต่อสังคม</strong></h3>
    &emsp;ความรับผิดชอบต่อสังคมขององค์กร <code>(Jang, Kim, & Lee, 2022)</code> เป็นการดำเนินกิจกรรมภายในและภายนอกขององค์กรที่คำนึงถึงผลกระทบต่อสังคมทั้งในองค์กร หมายถึง ชุมชนที่ได้รับผลกระทบจากการดำเนินขององค์กร มีจุดมุ่งหมายให้มีการดำเนินธุรกิจควบคู่ไปกับการใส่ใจ ดูแลรักษาสังคมและสิ่งแวดล้อม ผลการวิจัยจากการสำรวจตลาดและการวิจัยเชิงวิชาการพบว่า ผู้มีส่วนได้ส่วนเสียหลัก เช่น ผู้บริโภค พนักงานและนักลงทุน <code>(Du, Bhattacharya, & Sen, 2010)</code> เช่น การจัดกิจกรรมให้ความรู้ทางด้านสิ่งแวดล้อม การจัดกิจกรรมปลูกป่า การร่วมโครงการอนุรักษ์ทรัพยากรธรรมชาติ แล้วนำไปสู่การเผยแพร่ผ่านช่องทางต่างๆ เพื่อให้ผู้มีส่วนได้ส่วนเสียทั้งภายใน และภายนอกองค์กรได้รับรู้ถึงการมีส่วนร่วมในประเด็นทางด้านสิ่งแวดล้อมขององค์กร <code>(สุข, 2015)</code>
</p>

<p>
    <h3><strong>การลดการใช้พลังงาน</strong></h3>
    &emsp;คาร์บอนฟุตพริ้นท์ขององค์กร หมายถึง ปริมาณการปล่อยและดูดกลับก๊าซเรือนกระจก (Greenhouse Gas Emission and Removals) ที่เกิดจากกิจกรรมการดำเนินงานขององค์กรวัดรวมอยู่ในรูปของตัน (กิโลกรัม) ของก๊าซคาร์บอนไดออกไซด์หรือเทียบเท่า <code>(รอด, 2019)</code>

    <div class="text-center">
        <figure class="figure">
            <img src="<%= rootpath+'img/chapters/ch5-9.png' %>" class="figure-img img-fluid rounded" alt="สมการการปล่อยคาร์บอนไดออกไซด์">
            
        </figure>
    </div>

    <b>Activity data</b> เป็นข้อมูลกิจกรรมที่ก่อให้เกิดการปล่อยก๊าซเรือนกระจก
	ข้อมูลปฐมภูมิหรือข้อมูลทุติยภูมิ ได้แก่
    <ol>
        <li>ค่าพลังงานไฟฟ้า หน่วยเป็นกิโลวัตต์ต่อชั่วโมง (kWh)</li>
        <li>น้ำหนักของเสีย หน่วยเป็นกิโลกรัม (kg) หรือ ตัน(ton)</li>
        <li>การใช้น้ำมันเชื้อเพลิงของพาหนะ หน่วยเป็นลิตร (l)</li>
        <li>ระยะทางในการเดินทางโดยเครื่องบิน หน่วยเป็นกิโลเมตร (km) ฯลฯ</li>
    </ol>
    <br>
    จากความรู้พื้นฐานในการคำนวณค่าไฟฟ้าที่ได้กล่าวไว้ข้างต้น ค่าไฟฟ้าจะขึ้นอยู่กับ 2 ส่วนคือ กำลังไฟฟ้า (watt) และ ชั่วโมงการใช้งาน (hours) ดังนั้นการลดใช้พลังงานไฟฟ้าจึงสามารถทำได้โดย

    <ul>
        <li><b>การลดกำลังไฟฟ้าของเครื่องใช้ไฟฟ้าลง </b>เช่น</li>
        <ol>
            <li>การปรับเปลี่ยนอุปกรณ์ที่มีประสิทธิภาพมากขึ้น</li>
            <li>การใช้เครื่องใช้ไฟฟ้าที่มีฉลากประหยัดพลังงาน หรือ ฉลากเบอร์ 5</li>
            <li>การใช้เครื่องใช้ไฟฟ้าที่มีขนาดเหมาะสมกับการใช้งาน</li>
        </ol>
        <li><b>การลดชั่วโมงการทำงาน</b> เช่น</li>
        <ol>
            <li>การปิด-เปิดอุปกรณ์เมื่อไม่ใช้งาน</li>
            <li>การบำรุงรักษา-การทำความสะอาดเครื่องปรับอากาศ</li>
        </ol>
    </ul>
</p>