<div class="col py-3">
    <div class="alert alert-warning">
        <strong>Warning!</strong> User ID ต้องยาวมากกว่า 4 อักษร และ Password ต้องยาวมากกว่า 6 อักษร และต้องใช้แค่ตัวอักษร ตัวเลข หรือ underscore 
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Privilege</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% console.log(userList); %>
            <% for(let u of Object.keys(userList)) { %> 
                <tr>
                    <form action="<%= rootpath %>updatePassword" enctype="multipart/form-data" method="post">
                        <th> <%= userList[u].id %> </th>
                        <th> <%= userList[u].username %> </th>
                        <th>
                            <input name="username" type="hidden" value="<%= userList[u].username %>">
                            <input name="password" class="form-control" type="text" placeholder="Password" value="<%= userList[u].password %>">
                        </th>
                        <th> <%= userList[u].privilege %> </th>
                        <th> 
                            <input type="submit" value="Update Password" class="btn btn-success"/>
                            <% if(userList[u].privilege != 'admin') { %>
                                <a href="<%= rootpath %>removeAccount/<%= userList[u].username %>" class="btn btn-danger">Remove</a>
                            <% } %>

                        </th>
                    </form>
                </tr>
            <% } %>
            <tr>
                <form action="<%= rootpath %>createAccount" enctype="multipart/form-data" method="post">
                    <th> 
                        <input class="form-control" type="text" placeholder="#" disabled>
                    </th>
                    <th> 
                        <input name="username" class="form-control" type="text" placeholder="Username">
                    </th>
                    <th> 
                        <input name="password" class="form-control" type="text" placeholder="Password">
                    </th>
                    <th> 
                        <input class="form-control" type="text" placeholder="user" disabled>
                    </th>
                    <th> 
                        <input type="submit" value="Add" class="btn btn-success"/>
                    </th>
                </form>
            </tr>
        </tbody>
    </table>
</div>